@import url('Cards.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');

*:hover {
    transition: 100ms ease-out;
}

.card:nth-child(1):before {
    background-image: url("../Images/ItemsForSale.png");
}

.card:nth-child(2):before {
    background-image: url("../Images/RealtimeWater.png");
}

.card:nth-child(3):before {
    background-image: url("../Images/MyMinecraftWorld.png");
}

.card:nth-child(4):before {
    background-image: url("../Images/ItemsForSale.png");
}

.card:nth-child(5):before {
    background-image: url("../Images/RealtimeWater.png");
}

.card:nth-child(6):before {
    background-image: url("../Images/MyMinecraftWorld.png");
}