#menu {
  position: absolute;
  z-index: 10;
  transform: translate(-100%, 0);
  padding-left: 3rem;
  float: right;
  height: 100%;
  width: 60%;
  background-color: #2a2a2a;
  transition: all 0.5s ease-in-out;
  display: block;
  margin-right: 0;
}

.nav-links-mobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links-mobile li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nav-links-mobile li:first-child {
  margin-left: 0;
}

.nav-links-mobile li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links-mobile li a:hover {
  color: #d7d7d7;
  /* Hover color */
}
@media screen and (min-width: 700px) {
  #menu {
    display: none;
  }
}
@media screen and (max-width: 868px) {
    .left-landing{
        padding-left: 0;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
  .left-landing h1 {
    text-align: center;
  }
  .left-landing h2 {
    text-align: center;
  }
  .landing-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 658px) {
    .left-landing h1 {
       font-size: 3.5rem;
      }
      .left-landing h2 {
        font-size: 1.3rem;
       } 
}
@media screen and (max-width: 586px) {
    .left-landing h1 {
        font-size: 3rem;
       }
}
@media screen and (max-width: 506px) {
    .left-landing h1 {
        font-size: 2.85rem;
       }
       .left-landing h2 {
        font-size: 1.2rem;
       }
}
