@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

#footer {
    background-color: rgb(32, 32, 32);
    color: azure;
    font-family: 'Roboto Slab', serif;
    padding: 2.5rem;
}

#footer>#credits {
    font-size: larger;
    margin-bottom: 2rem;
    font-weight: 900;
}

#footer>#footertext {
    color: #a0a0a0;
    font-weight: 500;
}

#footertext>span {
    font-weight: 900;
    color: #b9b9b9;
}

.NameLogo {
    font-family: 'Roboto Slab', serif;
    font-size: 1.25rem;
    font-weight: 900;
    color: #474747;
}
